body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#header {
    display: flex;
    background-color: white;
    height: 150px;
}

#avatar {
    order: -1;

}

#header h1 {
    padding: 30px;
    width: 50%;
    display: flex;
    align-items: center;
}

#navbar {
    display: flex;
    width: 40%;
    margin-left: 20px;
    justify-content: space-around;
    align-items: center;
}
.linkdecor a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid navy;
    padding: 5px;
}

#hero-banner {
    background-image: url("../images/sb-blog-programming.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
#subtitle {
    background-color: rgba(255,255,255,0.8);
    right: 0px;
    position: absolute;
    top: 200px;
    padding: 10px;
    width: 350px;
    text-align: end;

}

#maingrid {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    grid-template-areas: 
    "ab"
    "wo"
    "co";
}
#about {
    grid-area: ab;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "habout cabout";
}
#work {
    grid-area: wo;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "hwork cwork";
}
#contact {
    grid-area: co;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "hcontact clinks";
}
#headingabout {
    grid-area: habout;
}
#contentabout {
    grid-area: cabout;
}
#headingwork {
    grid-area: hwork;
}
#contentwork {
    grid-area: cwork;
    min-height: 800px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "p1 p1"
    "p2 p3"
    "p4 p5";
}
#headingcontact {
    grid-area: hcontact;
}
#contactlinks {
    grid-area: clinks;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;


}
#project1 {
    grid-area: p1 ;
    background-image: url("../images/pexels-flo-dahm-699459.jpg");
    


}
#project2 {
    grid-area: p2;
    background-image: url("../images/pexels-nao-triponez-129208.jpg");
}
#project3 {
    grid-area: p3;
    background-image: url("../images/pexels-negative-space-97077.jpg");
}
#project4 {
    grid-area: p4;
    background-image: url("../images/pexels-pixabay-267394.jpg");

}
#project5 {
    grid-area: p5;
    background-image: url("../images/pexels-thisisengineering-3913025.jpg");
}

.mainheading {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 20px;
    border-right: 5px solid navy;
   
}
.pagesection {
    margin: 15px ;
}
.content {
    padding-left: 20px;
}
.projects {
    border: 2px solid turquoise;
    margin: 5px;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    
}
.projectheading {
    background-color:rgb(64, 224, 208, 0.8);
    padding: 15px;
    margin-bottom: 10px;
    height: 25px;
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
}
@media only screen and (max-width: 1000px) {
   .head {
    position: static;
   } 
   #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
   }
   #contactlinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
   }
   #contentwork {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "p1"
    "p2"
    "p3"
    "p4"
    "p5";
   }
   #herobanner {

   }
}