body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#header {
    display: flex;
    background-color: white;
    height: 150px;
}

#avatar {
    order: -1;

}

#header h1 {
    padding: 30px;
    width: 25%;
    display: flex;
    align-items: center;
}

#navbar {
    display: flex;
    width: 75%;
    margin-left: 20px;
    justify-content: flex-end;
    align-items: center;
}
#navbar a {
    padding: 20px
}

a {
    text-decoration: none;
    color: black;
}


#hero-banner {
    display: grid;
    min-height: 300px;
    height: 70vh;
    grid-template-rows: 100%;
    grid-template-areas:
    "bannerPhoto"
    
}
#bannerPhoto {
    grid-area: bannerPhoto;
    background-image: url("../images/sb-blog-programming.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#subtitle {
    background-color: rgba(255,255,255,0.8);
    position: relative;
    left: 800px;
    top: 150px;
    padding: 25px;
    max-width: 550px;
    z-index: 100;
}
#subtitle h2 {
    padding-left: 50px;
}


#maingrid {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    grid-template-areas: 
    "ab"
    "wo"
    "co";
}
#about {
    grid-area: ab;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "habout cabout";
}
#work {
    grid-area: wo;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "hwork cwork";
}
#contact {
    grid-area: co;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "hcontact clinks";
}
#headingabout {
    grid-area: habout;
}
#contentabout {
    grid-area: cabout;
}
#headingwork {
    grid-area: hwork;
}
#contentwork {
    grid-area: cwork;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "p1 p1"
    "p2 p3"
    "p4 p5";
}
#headingcontact {
    grid-area: hcontact;
}
#contactlinks {
    grid-area: clinks;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    text-decoration: underline solid;


}
#project1 {
    grid-area: p1 ;
}
#project2 {
    grid-area: p2;
}
#project3 {
    grid-area: p3;
}
#project4 {
    grid-area: p4;
}
#project5 {
    grid-area: p5;
}

.mainheading {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 20px;
    border-right: 5px solid navy;
    margin: 10px;
  
}